@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* dram kit */

body {
    font-family: 'M PLUS Code Latin', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./assets/wallhaven-6lkrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

span {
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.wrapper>button {
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: 4px solid black;
    cursor: pointer;
    transition: all 0.07s ease-in;
}

.key-info {
    display: flex;
    flex-direction: column;
    padding: .75em;
}

.key {
    font-size: 1.5rem;
    color: white;
}

.sound {
    font-size: .75rem;
    color: yellow;
}

.active {
    transform: scale(1.1);
    border-color: yellow !important;
    box-shadow: 0 0 10px 3px yellow;
}